#my-container-id{
  max-width: 800px;
  height: 800px;
  margin: auto;
  border: 1px solid black;
  .sigma-scene{
    position: relative;
  }
}

.sigma-graph-component{
  text-align: initial !important;
}
